@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500&display=swap');
/* Resets */
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    overflow: hidden;
}
h1 {
    font-weight: 500;
    font-size: 2em;
}
body {
    color: white;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
}

/* Container */
.container {
    display: flex;
    overflow: hidden;
    border: 4px solid rgb(24, 80, 235);
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.438);
    width: 400px;
    flex-direction: column;
    margin: 2% auto;
    padding: 2%;
}
form {
    padding: 5%;
}
.form-control label, select {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 1.2em;
    width: 100%;
}
select {
    border-radius: 5px;
    padding: 6px 2px;
}
.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
    font-size: 1em;
	padding: 5px;
	width: 96%;
    margin-top: 10px;
}
.form-control input:focus {
	outline: 0;
	border-color: rgb(149, 207, 132);
}
/* Errores y validacion */
.success input {
	border-color: #00c854;
}
i.success {
    color: #00c854;
    display: none;
}
.error input {
	border-color: #ff6b5b;
}
i.error {
    color: #ff6b5b;
    display: none;
}
small {
    visibility: hidden;
    color: #ff6b5b;
    font-weight: 500;
    font-size: 16px;
}
small.error {
    visibility: visible;
}
/* Boton */
.btn {
    background-color: rgba(43, 71, 104, 0.808);
    border: rgba(43, 71, 104, 0.808) solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 1.2em;
    margin-top: 4%;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(48, 128, 128);
    transition: 0.5s ease;
    color: black;
}